#seccion-practicas {
    float: left;
    width: 960px;
}
#bloque-practicas{
    width: 920px;
    height: 500px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}
